<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".EmployerFinalDecisionActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerInterviewResponseActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerArrangeInterviewActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerScheduledInterviewsActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerInboxActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerSetupActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerInboxActivity"
            android:exported="false" />
        <activity
            android:name=".EditRecruitActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerSetupScreen"
            android:exported="false" />
        <activity
            android:name=".CandidateScreen"
            android:exported="false" />
        <activity
            android:name=".FindWorkersScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".employerScreen"
            android:exported="false" />
        <activity
            android:name=".workersc"
            android:exported="false" />
        <activity
            android:name=".RecruitActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />

        <receiver
            android:name=".imageApp"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_app_info" />
        </receiver>
    </application>

</manifest>